<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Список пользователей</title>

    <style>
        body {
            margin: 3% 15%;

    </style>
</head>
<body>
<div class="d-flex justify-content-between">
    <h3>Список пользователей</h3>
    <a th:href="@{/admin}" class="btn btn-dark">Вернуться назад</a>
</div>

<p style="color: red" th:text="${alert}"></p>
<table class="table">
    <thead>
    <tr>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Роль</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getLogin()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getRole()}"></td>
        <td>
            <a th:href="@{/admin/user_list/edit/{id}(id=${user.getId()})}" class="btn btn-outline-secondary">Сменить роль пользователя</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>