<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 3% 15%;
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
<h3 class="mb-4">Корзина товаров</h3>
<div th:each="product : ${cart_product}" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px" class="img-fluid">
        </div>
        <div class="col-md-9">
            <h5 class="mb-2">
                <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
            </h5>
            <p class="mb-2"><strong>Цена:</strong> <span th:text="${product.getPrice()}"></span></p>
            <a th:href="@{/cart/delete/{id}(id=${product.getId()})}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
    <hr>
</div>
<h3 th:text="'Итоговая цена: ' + ${price}"></h3>
<a href="/order/create" class="btn btn-primary">Оформить заказ</a>
</body>
</html>